:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --team-list-color: #f5f4fa;
    --button-background-color: #f5f4fa;
    --time-function: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}